* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
button, a {
    -webkit-tap-highlight-color: transparent;
}


html, body{
    font-family: "Raleway", serif;
    scroll-behavior: smooth; 
}

  

body{
    background-color: var(--dark-purple);
}