.container-img-flag{
    width: 62px;
    height: 41px;
}

.container-img-flag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-flag:hover{
    opacity: .6;
    transition: all .3s;
}

.container-img-flag:active img{
    transform: scale(.8);
    opacity: .3;
    transition: all .1s;
}

.exit-btn{
    width: 100px;
    height: 50px;
}

.exit-btn:hover{
    background-color: var(--emerald-dark);
    border: 1px solid var(--emerald-dark);
    transition: all 70ms;
}

.exit-btn:active{
    background-color: var(--emerald-light);
    border: 1px solid var(--emerald-light);
    transition: all 100ms;
}

.img-step-three{
    width: 120px;
    height: 120px;
}

.img-step-three img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





/*XL*/
@media (max-width: 1300px){

}

/*LG*/
@media (max-width: 1024px){

}

/*MD*/
@media (max-width: 768px){
    .img-step-three{
        width: 100px;
        height: 100px;
    }
}

/*SM*/
@media (max-width: 568px){
    .exit-btn{
        width: 25px;
        height: 25px;
    }

    .exit-btn .material-symbols-outlined{
        font-size: 10px;
    }
}